.navbar {
    // background-color: $secondary-color;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
    padding: 1rem;
    height: 4rem;
    display: flex;
    align-items: center;

    ul {
        list-style-type: none;
        display: flex;
        gap: $nav-gap;
    }

    li {
        font-size: 1.2rem;
    }

    li:hover {
        a {
            color: rgb(235, 232, 232);
        }
    }

    a {
        color: white;
    }
}