.card {
    margin: 0.5rem;
    height: 430;
    width: 300;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    display: flex;
    flex-direction: column;
}

.image {
    height: 300;
    width: 300;
}